/* General */
* {
  text-align: center;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

body {
  font-family: "Anton", "Helvetica", "sans-serif;";
  font-size: 1.5rem;
  font-weight: 200;
  line-break: normal;
  line-height: 1.3;
  color: #1d1d1d;
  background-image: url("pexels-george-becker-112854.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #323499;
  transition: color 0.3s ease-in-out;
}

ul {
  list-style: none;
}

p {
  max-width: 30ch;
}

/* Nav Section */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  margin: 1rem;
  font-family: "Anton", "Helvetica", sans-serif;
}

nav.primary-navigation {
  margin: 100px auto;
  display: block;
  text-align: center;
  font-size: 23px;
}
nav.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
}
nav.primary-navigation li:hover {
  cursor: pointer;
}
nav.primary-navigation .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  z-index: 3;
}
nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  min-width: 300px;
  overflow: hidden;
  text-align: center;
  padding-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  background-color: #eff3f2 !important;
}
nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  border-style: none;
}
nav.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 2px solid #323499;
  border-right: 2px solid #323499;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}
a:hover {
  color: #323499;
}

ul li ul li a {
  transition: all 0.5s ease;
}

img {
  display: block;
  position: absolute;
  left: 2%;
  top: 1%;
  width: 80px;
}

#logo_date {
  display: block;
  position: absolute;
  left: 1.75%;
  top: 15.5%;
}

/* Cards */
#contact_section {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 25%;
  left: 31%;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 700px;
  height: auto;
  padding: 30px;
  background-color: #eff3f2;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 18px;
}
#contact_section .info {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact_section .form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}
#contact_section #map {
  padding: 20px;
  max-width: 300px;
  overflow: hidden;
}
#contact_section #map #adress {
  width: 100px;
}

input, textarea {
  line-height: normal;
  border: none;
  text-align: start;
}
input:focus, textarea:focus {
  outline: none;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

input {
  width: 200px;
  height: 40px;
  padding: 0 20px;
}

#name_email {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #323499;
}

#dropdown_eventos, #dropdown_circuito {
  min-width: 575px;
}

@media only screen and (max-width: 688px) {
  #logo {
    display: none;
  }
  #logo_date {
    display: none;
  }
  nav.primary-navigation {
    margin: 20px auto;
  }
}
@media only screen and (max-width: 618px) {
  body {
    background-image: url("pexels-george-becker-112854-cut.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  nav.primary-navigation {
    margin: 80px auto;
  }
}/*# sourceMappingURL=style.css.map */